{% extends 'dashboard/main.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">Batches</h1>
    <a href="{% url  'batch-form' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Create New Batch</a>
</div>
<div class="row">
<div class="col-md-12">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Batch Name</th>
                        <th>Co-ordinator</th>
                        <th>Time Slot</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batches %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'batch-edit' batch.id %}">{{batch.name}}</a></td>
                        <td>{{batch.batch_co_ordinator}}</td>
                        <td>{{batch.timming}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Batch Name</th>
                        <th>Co-ordinator</th>
                        <th>Time Slot</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</div>
<script>

</script>
{% endblock content %}
