{% extends 'main.html' %}
{% block content %}
{% if page == 'login' %}
<div>
    <h3>Login Form</h3>
    <form action="" method="POST">
        {% if error %}<span style="color: crimson;">{{error.user}}</span><br/>{% endif  %}
        {% csrf_token %}
        <label for="username">Username:</label><br/>
        <input type="text" name="username" placeholder="Enter Username" /><br/>
        {% if error %}<span style="color: crimson;">{{error.username}}</span><br/>{% endif  %}
        <label for="password">Password:</label><br/>
        <input type="password" name="password" placeholder="Enter Password" /><br/>
        {% if error %}<span style="color: crimson;">{{error.password}}</span><br/>{% endif  %}
        <input type="submit" value="Login" />
    </form>
    <p>Haven't signed up yet? <a href="{% url 'register' %}">Sign Up</a></p>
</div>
{% else %}
<h3>Register Form</h3>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
        <p>Already signed up yet? <a href="{% url 'login' %}">Login</a></p>
    </form>
</div>
{% endif %}
{% endblock content %}